@import '../../assets/scss/base/variables';

.audio{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    
    &__content{
        flex: 0 1 500px;
        background: #fff;
        margin: 140px auto 40px auto;
        height: 100%;
        padding: 225px 20px 40px 20px;
        border-radius: 20px;
        position: relative;

        @media (max-width: $md4+px){
           border-radius: 15px;
        }
    }

    &__img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50px);
        width: 250px;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title{
        font-size: 20px;
        font-weight: 500;
        color: #0B032D;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }

    &__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 0px 0px;
    }

    &__btn{
        width: 60px;
        height: 60px;
        background: transparent;
        border: none;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            background: rgb(221, 221, 221);
            transition: all .3s ease-in-out;
            border-radius: 50%;
        }

        @media (min-width: $md2+px){
            &:hover{
                &:before{
                    transform: scale(1);
                }
            }
        }

        svg{
            width: 50px;
            height: 50px;
            position: relative;
            z-index: 2;
        }

        svg path{
            transition: all .3s ease-in-out;
        }

        &_arrow{
            width: 50px;
            height: 40px;

             &:before{
                display: none;
            }

            @media (min-width: $md2+px){
                &:hover{
                    background: transparent;
                    svg path{
                        fill: #FFAD32;
                    }
                }
            }

            svg{
                width: 100%;
                height: 100%;

                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: scale(0);
                    background: rgb(221, 221, 221);
                    transition: all .3s ease-in-out;
                    border-radius: 50%;
                }
            }
        }
    }
}

.slider-audio{
    display: flex;
    align-items: center;

    .noUi-target{
        flex: 1 1 auto;
        margin: 0 12px 0 10px;
        height: 10px;
        background: transparent;
        border: none;
        border-radius: 10px;
        box-shadow: none;
    }

    .noUi-connects{
        background: #0B032D;
        border-radius: 10px;
    }

    .noUi-connect{
        background: #FFAD32;
    }

    .noUi-handle{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: none;
        box-shadow: none;
        background: darken(#FFAD32, 10%);
        right: -10px;
        top: -4.5px;
        transition: transform .1s ease-in;

        &.noUi-active{
            transform: scale(1.2);
        }

         &:before, &:after{
            content: '';
            display: none;
        }
    }

    &__time{
        flex: 0 0 auto;
        font-size: 14px;
        color: #0B032D;
    }
}