@import '../../assets/scss/base/variables';

.audio{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background: linear-gradient(to right top, #0B032D, darken(#843B62, 10%));

    &__content{
        flex: 0 1 500px;
        margin: 140px auto 40px auto;
        height: 100%;
    }

    &__buttons{
        margin: 20px 0px 0px 0px;
        display: flex;
        align-items: center;
    }

    &__btn{
        width: 50px;
        height: 50px;
        background: transparent;
        border: none;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin: 0px 5px 0px 0px;

        &:last-child{
          margin: 0px 0px 0px 0px;
        }

        input{
            display: none;

            &:checked + svg{
                path, circle, rect{
                    fill: #FFAD32;
                }
            }
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            background: rgba(201, 201, 201, .3);
            transition: all .3s ease-in-out;
            border-radius: 50%;
        }

        @media (min-width: $md2+px){
            &:hover{
                &:before{
                    transform: scale(1);
                }
            }
        }

        svg{
            width: 35px;
            height: 35px;
            position: relative;
            z-index: 2;

            path, circle, rect{
                transition: all .3s ease-in-out;
            }
        }
    }
}

.player{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__content{
        flex: 0 1 500px;
        background: #fff;
        box-shadow: 0px 3px 10px #eee;
        height: 100%;
        padding: 225px 20px 40px 20px;
        border-radius: 20px;
        position: relative;

        @media (max-width: $md4+px){
           border-radius: 15px;
           padding: 155px 10px 20px 10px;
        }
    }

    &__favorites{
        position: absolute;
        top: 30px;
        right: 30px;


        @media (max-width: $md4+px){
            top: 20px;
            right: 20px;
        }

        @media (max-width: 390px){
           right: 10px;
        }

        @media (max-width: 340px){
            right: 0px;
         }
    }

    &__img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50px);
        width: 250px;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFAD32;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
        }
        
        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 60%;
            height: 100%;
            transform: translate(100%, 0%);
            background: rgba(238, 238, 238, 0.3);
            animation: preloading 2s linear 2s infinite;
            z-index: 3;
            opacity: 0;
            visibility: hidden;
        }

        &_loading{
             &:before{
                opacity: 1;
                visibility: visible;
            }

            &:after{
                opacity: 1;
                visibility: visible;
            }
        }

        @keyframes preloading {
            0%{
                right: 0;
                transform: translate(100%, 0%);
            }

            50%{
                background: rgba(238, 238, 238, 0.3);
            }

            100%{
                right: 100%;
                transform: translate(-100%, 0%);
            }
        }

        @media (max-width: $md4+px){
            width: 200px;
            height: 200px;
            transform: translate(-50%, -60px);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title{
        font-size: 20px;
        font-weight: 500;
        color: #0B032D;
        text-align: center;
        margin: 0px 0px 20px 0px;

        @media (max-width: $md4+px){
           margin: 0px 0px 15px 0px;
        }
    }

    &__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 0px 0px;
    }

    &__btn{
        width: 60px;
        height: 60px;
        background: transparent;
        border: none;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            background: rgb(221, 221, 221);
            transition: all .3s ease-in-out;
            border-radius: 50%;
        }

        @media (min-width: $md2+px){
            &:hover{
                &:before{
                    transform: scale(1);
                }
            }
        }

        svg{
            width: 50px;
            height: 50px;
            position: relative;
            z-index: 2;
        }

        svg path{
            transition: all .3s ease-in-out;
        }

        &_heart{
            width: 50px;
            height: 50px;

             &:before{
                background: #eee;
            }

            &.active{
                &:before{
                    background: #ffd5eb;
                }

                svg{
                    path{
                        fill: #843B62;
                    }
                }
            }

            svg{
                width: auto;
                height: 30px;
            }
        }

        &_arrow{
            width: 50px;
            height: 40px;

             &:before{
                display: none;
            }

            @media (min-width: $md2+px){
                &:hover{
                    background: transparent;
                    svg path{
                        fill: #FFAD32;
                    }
                }
            }

            svg{
                width: 100%;
                height: 100%;

                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: scale(0);
                    background: rgb(221, 221, 221);
                    transition: all .3s ease-in-out;
                    border-radius: 50%;
                }
            }
        }
    }
}

.preloader-player{
    display: flex;
    align-items: center;
    &__line{
        height: 10px;
        background: #0B032D;
        border-radius: 10px;
        margin: 0 12px 0 10px;
        flex: 1 1 auto;
        position: relative;
        overflow: hidden;

         &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 100%;
            border-radius: 10px;
            transform: translate(100%, 0%);
            background: rgba(238, 238, 238, 0.3);
            animation: preloading 3s linear infinite;
        }

        @keyframes preloading {
            0%{
                right: 0;
                transform: translate(100%, 0%);
            }

            50%{
                background: rgba(238, 238, 238, 0.6);
            }

            100%{
                right: 100%;
                transform: translate(-100%, 0%);
            }
        }
    }

    &__time{
        flex: 0 0 30px;
        height: 14px;
        border-radius: 15px;
        background: #eee;
    }
}

.slider-player{
    display: flex;
    align-items: center;

    .noUi-target{
        flex: 1 1 auto;
        margin: 0 12px 0 10px;
        height: 10px;
        background: transparent;
        border: none;
        border-radius: 10px;
        box-shadow: none;
    }

    .noUi-connects{
        background: #0B032D;
        border-radius: 10px;
    }

    .noUi-connect{
        background: #FFAD32;
    }

    .noUi-handle{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: none;
        box-shadow: none;
        background: darken(#FFAD32, 10%);
        right: -10px;
        top: -4.5px;
        transition: transform .1s ease-in;

        &.noUi-active{
            transform: scale(1.2);
        }

         &:before, &:after{
            content: '';
            display: none;
        }
    }

    &__time{
        flex: 0 0 auto;
        font-size: 14px;
        color: #0B032D;
    }
}