@import '../../assets/scss/base/variables';

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #843B62;
    z-index: 10;

    &__content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__main{
        display: flex;
        align-items: center;
    }

    &__logo{
        font-size: 30px;
        color: #fff;
        font-weight: 700;
    }

    &__search{
        position: relative;
        width: 200px;
        height: 33px;
        border-radius: 18px;
        overflow: hidden;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0px 30px;
    }

    &__input{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        padding: 0 30px 0 20px;
        color: #0B032D;
        font-weight: 500;
        font-size: 18px;

        &::placeholder{
            color: #aaa;
        }
    }

    &__btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2px;
        background: transparent;
        box-shadow: none;
        width: 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 15px;
            height: 15px;

            rect, circle{
                transition: all .3s ease-in-out;
            }
        }

        @media (min-width: $md2+px){
            &:hover{
                svg{
                    circle{
                        stroke: #FFAD32;
                    }

                    rect{
                        fill: #FFAD32;
                    }
                }
            }
        }
    }

    &__buttons{
        display: flex;
        align-items: center;
    }

    &__button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all .3s ease-in-out;
        // background: rgba(238, 238, 238, 0.3);

        @media (min-width: $md2+px){
            &:hover{
                background: rgba(238, 238, 238, 0.3);
            }
        }

        &_list{
            margin: 0px 5px 0px 0px;

            svg{
                width: auto;
                height: 25px;
    
                rect, circle{
                    transition: all .3s ease-in-out;
                }
            }
        }

        &_add{
            svg{
                width: auto;
                height: 30px;
    
                rect{
                    transition: all .3s ease-in-out;
                }
            }
        }

        // @media (min-width: $md2+px){
        //     &:hover{
        //         svg{
        //             circle{
        //                 fill: lighten(#FFAD32, 10%);
        //             }

        //             rect{
        //                 fill: #FFAD32;
        //             }
        //         }
        //     }
        // }

        // @media (min-width: $md2+px){
        //     &:hover{
        //         svg{
        //             rect{
        //                 fill: #FFAD32;
        //             }
        //         }
        //     }
        // }
    }

}